* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.content {
    padding: 20px;
}
.container {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    flex-grow: 1; /* Expand container to fill available space */
}

.image-box {
    height: 100vh; /* Set the height to cover the entire viewport height */
    display: flex;
    flex-wrap: wrap; /* Allow tiles to wrap within the image box */
    justify-content: flex-start; /* Start tiles from the top */
    align-content: flex-start; /* Start tiles from the top */
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background color */
    background-size: cover; /* Set background image to cover the image box */
    background-position: center center; /* Center the background image */
}

.image-box h2 {
    margin-top: 0;
    font-size: 24px;
   
}

.image-box ul {
    list-style: none;
    padding: 0;
}

.image-box li {
    margin-bottom: 10px;
}
/* Custom styles for colorful tiles */
.image-box.dogs {
    background-image: url('dog_bg.jpg'); /* Replace with actual cat image */
    height: 100vh;
    justify-content: center; /* Start cat images from the top */
    align-items: center; /* Center horizontally */
}

.image-box.cats {
    background-image: url('cat_bg.jpg'); /* Replace with actual cat image */
    height: 100vh; /* Set the height to cover the entire viewport height */
    justify-content: center; /* Start cat images from the top */
    
  
}

.image-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.image-list li {
    width: calc(33.33% - 10px); /* Each dog image takes up one-third of the width minus spacing */
    overflow: hidden;
    border-radius: 5px;
    padding: 10px; /* Add padding to make the background box larger */
    box-sizing: border-box;
}
.image-box img {
    max-width: 100%;
    height: auto;
    max-height: 150px; /* Set a fixed height for the images */
    border-radius: 5px;
    cursor: pointer; /* Add cursor style for clickable images */
    object-fit: cover; /* Maintain aspect ratio while covering container */
}

.image-list img {
    max-width: 100%;
    max-height: 150px; /* Set a maximum height for the images */
    border-radius: 5px;
    cursor: pointer;
    object-fit: cover; /* Maintain aspect ratio while covering container */
}
